@charset "utf-8";
/* CSS Document */
html, body {margin:0;padding:0;height:100%;width:100%;overflow: hidden;}

#grad1 {
	height: 100%;
	width: 100%;
	background-color: #1fc8db; /* For browsers that do not support gradients */
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: white;
	opacity: 0.95;
}

.button {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 70%;
  position:relative; 
  width:100px; 
  --top:50%; 
  --left:50%;
}

.button3 {
	border-radius: 8px;
	position: relative;
	height: 95%;
	width: 95%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5vw;
	border: medium solid #06C;
}

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10vw;
	text-alighn: center;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10vw;
	text-shadow: 4px 4px white;
}
